In [1]:
import pandas as pd
import geopandas as gpd
from shapely import wkt
from shapely.geometry import Polygon, Point

In [2]:
df = pd.read_csv('poligonos_mx.csv') #Se lee el csv como un dataframe normal y después se convierte a geodataframe
df['geometry'] = df['geometry'].apply(wkt.loads)
gdf = gpd.GeoDataFrame(df, crs='epsg:4326')
gdf.head()

   Unnamed: 0 estado                                           geometry
0           0    ZAC  POLYGON ((-100.83230 24.55490, -100.85400 24.5...
1           1    YUC  POLYGON ((-87.53860 21.48640, -87.52560 21.287...
2           2    VER  POLYGON ((-97.79320 22.24960, -97.76810 22.049...
3           3    TLA  POLYGON ((-98.58490 19.46750, -98.63610 19.481...
4           4    TAM  POLYGON ((-97.79320 22.24960, -97.87290 22.197...

In [5]:
df_miso = pd.read_csv('citysends20oct21.csv')
df_miso.head()

,Index,Id,Post,Fecha,Latitud,Longitud
0,1,emmanuel,Publicacion con imagen,"Aug. 31, 2021, 12:14 a.m.",20.967370,-89.592586
1,2,emmanuel,publicacion con latitud y longitud,"Sept. 8, 2021, 2:56 a.m.",20.968147,-89.629872

In [6]:
columnas = ['Id','Post','Fecha','Latitud','Longitud','Estado']
df_miso_estado = pd.DataFrame(columns = columnas)
df_miso_estado.head()

Empty DataFrame
Columns: [Id, Post, Fecha, Latitud, Longitud, Estado]
Index: []

In [7]:
def dime_estado(lon, lat):
    estado = 'Fuera de México'
    band = 0
    point = Point(lon, lat)
    for index, row in gdf.iterrows():
        poligon = gdf['geometry'][index]
        if poligon.contains(point):
            estado = gdf['estado'][index]
            band = 1
            break
    return estado

In [8]:
for index, row in df_miso.iterrows():
    ide = row['Id']
    post = row['Post']
    datetime = row['Fecha']
    lat = row['Latitud']
    lon = row['Longitud']
    estado = dime_estado(lon, lat)
    df_miso_estado = df_miso_estado.append({'Id':ide,'Post':post,'Fecha':datetime,'Latitud':lat,'Longitud':lon,'Estado':estado}, ignore_index=True)

In [9]:
df_miso_estado.head()

,Id,Post,Fecha,Latitud,Longitud,Estado
0,emmanuel,Publicacion con imagen,"Aug. 31, 2021, 12:14 a.m.",20.967370,-89.592586,YUC
1,emmanuel,publicacion con latitud y longitud,"Sept. 8, 2021, 2:56 a.m.",20.968147,-89.629872,YUC

In [10]:
df_miso_estado.tail()

,Id,Post,Fecha,Latitud,Longitud,Estado
0,emmanuel,Publicacion con imagen,"Aug. 31, 2021, 12:14 a.m.",20.967370,-89.592586,YUC
1,emmanuel,publicacion con latitud y longitud,"Sept. 8, 2021, 2:56 a.m.",20.968147,-89.629872,YUC