In [1]:
import pandas as pd
import geopandas as gpd
from shapely import wkt
from shapely.geometry import Polygon, Point

In [2]:
df = pd.read_csv('poligonos_mx.csv') #Se lee el csv como un dataframe normal y después se convierte a geodataframe
df['geometry'] = df['geometry'].apply(wkt.loads)
gdf = gpd.GeoDataFrame(df, crs='epsg:4326')
gdf.head()

   Unnamed: 0 estado                                           geometry
0           0    ZAC  POLYGON ((-100.83230 24.55490, -100.85400 24.5...
1           1    YUC  POLYGON ((-87.53860 21.48640, -87.52560 21.287...
2           2    VER  POLYGON ((-97.79320 22.24960, -97.76810 22.049...
3           3    TLA  POLYGON ((-98.58490 19.46750, -98.63610 19.481...
4           4    TAM  POLYGON ((-97.79320 22.24960, -97.87290 22.197...

In [4]:
df_miso = pd.read_csv('GfG.csv')
df_miso.head()

,Index,Id,Post,Fecha,Latitud,Longitud
0,1,emmanuel,Este post contiene mi ubicación exacta.,"Aug. 30, 2021, 7:30 p.m.",21.003098,-89.635415
1,2,root,prueba de post con imagen de mapa de la Repúbl...,"Aug. 31, 2021, 1:07 a.m.",20.985750,-89.521441
2,3,emmanuel,"Nuevo post con mi ubicación exacta, éste post ...","Sept. 6, 2021, 5:56 a.m.",20.968147,-89.629872
3,4,emmanuel,XDDD,"Oct. 5, 2021, 5:05 a.m.",0.000000,0.000000

In [5]:
columnas = ['Id','Post','Fecha','Latitud','Longitud','Estado']
df_miso_estado = pd.DataFrame(columns = columnas)
df_miso_estado.head()

Empty DataFrame
Columns: [Id, Post, Fecha, Latitud, Longitud, Estado]
Index: []

In [9]:
def dime_estado(lon, lat):
    estado = 'Fuera de México'
    band = 0
    point = Point(lon, lat)
    for index, row in gdf.iterrows():
        poligon = gdf['geometry'][index]
        if poligon.contains(point):
            estado = gdf['estado'][index]
            band = 1
            break
    return estado

In [10]:
for index, row in df_miso.iterrows():
    ide = row['Id']
    post = row['Post']
    datetime = row['Fecha']
    lat = row['Latitud']
    lon = row['Longitud']
    estado = dime_estado(lon, lat)
    df_miso_estado = df_miso_estado.append({'Id':ide,'Post':post,'Fecha':datetime,'Latitud':lat,'Longitud':lon,'Estado':estado}, ignore_index=True)

In [11]:
df_miso_estado.head()

,Id,Post,Fecha,Latitud,Longitud,Estado
0,emmanuel,Este post contiene mi ubicación exacta.,"Aug. 30, 2021, 7:30 p.m.",21.003098,-89.635415,YUC
1,root,prueba de post con imagen de mapa de la Repúbl...,"Aug. 31, 2021, 1:07 a.m.",20.985750,-89.521441,YUC
2,emmanuel,"Nuevo post con mi ubicación exacta, éste post ...","Sept. 6, 2021, 5:56 a.m.",20.968147,-89.629872,YUC
3,emmanuel,XDDD,"Oct. 5, 2021, 5:05 a.m.",0.000000,0.000000,Fuera de México
4,emmanuel,Este post contiene mi ubicación exacta.,"Aug. 30, 2021, 7:30 p.m.",21.003098,-89.635415,YUC

In [12]:
df_miso_estado.tail()

,Id,Post,Fecha,Latitud,Longitud,Estado
3,emmanuel,XDDD,"Oct. 5, 2021, 5:05 a.m.",0.000000,0.000000,Fuera de México
4,emmanuel,Este post contiene mi ubicación exacta.,"Aug. 30, 2021, 7:30 p.m.",21.003098,-89.635415,YUC
5,root,prueba de post con imagen de mapa de la Repúbl...,"Aug. 31, 2021, 1:07 a.m.",20.985750,-89.521441,YUC
6,emmanuel,"Nuevo post con mi ubicación exacta, éste post ...","Sept. 6, 2021, 5:56 a.m.",20.968147,-89.629872,YUC
7,emmanuel,XDDD,"Oct. 5, 2021, 5:05 a.m.",0.000000,0.000000,Fuera de México